<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="header">Bienvenido
        <small>Home</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->


</div>
