extends layout

block content
  h2(class='page-header') Registro

  if errors
    each err in errors
      .alert.alert-danger #{err.msg}

  form(method='post', action='/register')
    .form-group
      label Nombre
      input.form-control(type='text', placeholder='Nombre', name='name')
    .form-group
      label Usuario
      input.form-control(type='text', placeholder='Usuario', name='username')
    .form-group
      label Email
      input.form-control(type='email', placeholder='Email', name='email')
    .form-group
      label Contrase単a
      input.form-control(type='password', placeholder='Contrase単a', name='password')
    .form-group
      label Confirmar contrase単a
      input.form-control(type='password', placeholder='Contrase単a', name='password2')
    .form-group.text-right
      input(type="submit" class="btn btn-info" value="Registrar")
